h1
{
    border-width: 1;
    border: solid;
    text-align: center;
    color: white;
    background-color: darkmagenta;
}
div.code
{
    font-family: monospace;
    color: midnightblue;
    background-color: skyblue;
}
span.file
{
    font-family: monospace;
    color: purple;
    background-color: pink;
}
